<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<h1>You want to predict...</h1>

<a href="{{url_for('predict_api_cat')}}" ><button type="button">News Category of a news article</button></a>
<a href="{{url_for('predict_api_df')}}" ><button type="button">News Categors of news articles in csv file</button></a>
  
</head>

<body>
  
    {% block content %}
    {% endblock %}

</body>

</html>